<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <title>Security Server</title>
 </head>
 <body>
   <h1>Nothing to see here</h1>
   <script>
      var dataString = "{{data}}";
      var sendData = JSON.parse(dataString.replace(/(&quot\;)/g,"\""));
      console.log(sendData);
      sendData.forEach(makeDiv);

      function makeDiv(data){ //adds div containing data to dom
        var div = document.createElement("div");
        var h = document.createElement("h1");

        h.innerHTML = "Latitude: " + data.lat;
        div.appendChild(h);
        h = document.createElement("h1");
        h.innerHTML = "Longitude: " + data.long;
        div.appendChild(h);
        h = document.createElement("h1");
        h.innerHTML = "Accuracy: " + data.accuracy;
        div.appendChild(h);
        h = document.createElement("img");
        h.src = data.imgLink;
        div.appendChild(h);

        div.style.borderStyle = "solid";
        div.style.height = "800px";
        div.style.width = "100%";
        document.body.appendChild(div);
      }
   </script>
 </body>
</html>
