<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <title>Security Server</title>
 </head>
 <body>
   <h1>Nothing to see here</h1>
   <script>
      var dataString = "{{data}}";
      var sendData = JSON.parse(dataString.replace(/(&quot\;)/g,"\""));
      console.log(sendData);
   </script>
 </body>
</html>
